
@{
    ViewBag.Title = "order";
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
}
 <!-- Start Main Content Holder -->
<section id="content-holder" class="container-fluid container">
    <section class="row-fluid">
        <div class="heading-bar">
            <h2>Checkout</h2>
            <span class="h-line"></span>
        </div>
        <!-- Start Main Content -->
        <section class="checkout-holder">
            <section class="span9 first">
                <!-- Start Accordian Section -->
                <div class="accordion" id="accordion2">
                    <div class="accordion-group">
                        <div class="accordion-heading"> <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne"> Checkout Method </a></div>
                        <div id="collapseOne" class="accordion-body collapse in">
                            <div class="accordion-inner">
                                <div class="span6 check-method-left">
                                    <strong class="green-t">Checkout as a Guest or Register</strong>
                                    <p>Register with us for future convenience:</p>
                                    <label class="radio">
                                        <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                                        Checkout as Guest
                                    </label>
                                    <label class="radio">
                                        <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                                        Register
                                    </label>
                                    <p>Register and save time!</p>
                                    <p>Register with us for future convenience:</p>
                                    <p>
                                        * Fast and easy check out <br />
                                        * Easy access to your order history and status
                                    </p>
                                    <a href="#" class="more-btn">Continue</a>
                                </div>
                                <div class="span5 check-method-right">
                                    <strong class="green-t">Login</strong>
                                    <p>Already registered? Please log in below:</p>
                                    <form class="form-horizontal">
                                        <div class="control-group">
                                            <label class="control-label" for="inputEmail">Email Address <sup>*</sup></label>
                                            <div class="controls">
                                                <input type="text" id="inputEmail" placeholder="">
                                            </div>
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label" for="inputPassword">Password <sup>*</sup></label>
                                            <div class="controls">
                                                <input type="password" id="inputPassword" placeholder="">
                                            </div>
                                        </div>
                                        <p><a href="#">Forgot your password?</a></p>
                                        <div class="control-group">
                                            <div class="controls">
                                                <button type="submit" class="more-btn">Login</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-group">
                        <div class="accordion-heading"> <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo"> Billing Information </a> </div>
                        <div id="collapseTwo" class="accordion-body collapse">
                            <div class="accordion-inner">
                                <strong class="green-t">Checkout as Guest</strong>
                                <form class="form-horizontal">
                                    <ul class="billing-form">
                                        <li>
                                            <div class="control-group">
                                                <label class="control-label" for="inputFirstname">First Name <sup>*</sup></label>
                                                <div class="controls">
                                                    <input type="text" id="inputFirstname" placeholder="">
                                                </div>
                                            </div>
                                            <div class="control-group">
                                                <label class="control-label" for="inputLastname">Last Name<sup>*</sup></label>
                                                <div class="controls">
                                                    <input type="text" id="inputLastname" placeholder="">
                                                </div>
                                            </div>

                                        </li>
                                        <li>
                                            <div class="control-group">
                                                <label class="control-label" for="inputCompany">Company<sup>*</sup></label>
                                                <div class="controls">
                                                    <input type="text" id="inputCompany" placeholder="">
                                                </div>
                                            </div>
                                            <div class="control-group">
                                                <label class="control-label" for="inputEmail">Email Address<sup>*</sup></label>
                                                <div class="controls">
                                                    <input type="text" id="inputEmail" placeholder="">
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="control-group">
                                                <label class="control-label" for="inputAddress">Address<sup>*</sup></label>
                                                <div class="controls">
                                                    <input type="text" id="inputAddress" placeholder="" class="address-field">
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="control-group">
                                                <label class="control-label" for="inputCity">City <sup>*</sup></label>
                                                <div class="controls">
                                                    <input type="text" id="inputCity" placeholder="">
                                                </div>
                                            </div>
                                            <div class="control-group">
                                                <label class="control-label" for="inputState/Province">State/Province<sup>*</sup></label>
                                                <div class="controls">
                                                    <input type="text" id="state" placeholder="">
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="control-group">
                                                <label class="control-label" for="inputZip">Zip/Postal Code <sup>*</sup></label>
                                                <div class="controls">
                                                    <input type="text" id="inputZip" placeholder="">
                                                </div>
                                            </div>
                                            <div class="control-group">
                                                <label class="control-label" for="inputCountry">Country <sup>*</sup></label>
                                                <div class="controls">
                                                    <input type="text" id="country" placeholder="">
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="control-group">
                                                <label class="control-label" for="inputTelephone">Telephone <sup>*</sup></label>
                                                <div class="controls">
                                                    <input type="text" id="inputTelephone" placeholder="">
                                                </div>
                                                <label class="radio b-label">
                                                    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                                                    Ship to this address
                                                </label>
                                                <label class="radio b-label">
                                                    <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                                                    different address
                                                </label>
                                            </div>
                                            <div class="control-group">
                                                <label class="control-label" for="inputFax">Fax<sup>*</sup></label>
                                                <div class="controls">
                                                    <input type="text" id="inputFax" placeholder="">
                                                    <strong class="green-t">* Required Fields</strong>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="control-group">
                                                <div class="controls">
                                                    <button type="submit" class="more-btn">Continue</button>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-group">
                        <div class="accordion-heading"> <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree"> Shipping Information </a> </div>
                        <div id="collapseThree" class="accordion-body collapse">
                            <div class="accordion-inner">
                                <form class="form-horizontal">
                                    <ul class="billing-form">
                                        <li>
                                            <div class="control-group">
                                                <label class="control-label" for="inputFirstname">First Name <sup>*</sup></label>
                                                <div class="controls">
                                                    <input type="text" id="inputFirstname" placeholder="">
                                                </div>
                                            </div>
                                            <div class="control-group">
                                                <label class="control-label" for="inputLastname">Last Name<sup>*</sup></label>
                                                <div class="controls">
                                                    <input type="text" id="inputLastname" placeholder="">
                                                </div>
                                            </div>

                                        </li>
                                        <li>
                                            <div class="control-group">
                                                <label class="control-label" for="inputCompany">Company<sup>*</sup></label>
                                                <div class="controls">
                                                    <input type="text" id="inputCompany" placeholder="">
                                                </div>
                                            </div>
                                            <div class="control-group">
                                                <label class="control-label" for="inputEmail">Email Address<sup>*</sup></label>
                                                <div class="controls">
                                                    <input type="text" id="inputEmail" placeholder="">
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="control-group">
                                                <label class="control-label" for="inputAddress">Address<sup>*</sup></label>
                                                <div class="controls">
                                                    <input type="text" id="inputAddress" placeholder="" class="address-field">
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="control-group">
                                                <label class="control-label" for="inputCity">City <sup>*</sup></label>
                                                <div class="controls">
                                                    <input type="text" id="inputCity" placeholder="">
                                                </div>
                                            </div>
                                            <div class="control-group">
                                                <label class="control-label" for="inputState/Province">State/Province<sup>*</sup></label>
                                                <div class="controls">
                                                    <input type="text" id="State" placeholder="">
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="control-group">
                                                <label class="control-label" for="inputZip">Zip/Postal Code <sup>*</sup></label>
                                                <div class="controls">
                                                    <input type="text" id="inputZip" placeholder="">
                                                </div>
                                            </div>
                                            <div class="control-group">
                                                <label class="control-label" for="inputCountry">Country <sup>*</sup></label>
                                                <div class="controls">
                                                    <input type="text" id="country" placeholder="">
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="control-group">
                                                <label class="control-label" for="inputTelephone">Telephone <sup>*</sup></label>
                                                <div class="controls">
                                                    <input type="text" id="inputTelephone" placeholder="">
                                                </div>
                                                <label class="radio b-label">
                                                    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                                                    Ship to this address
                                                </label>
                                                <label class="radio b-label">
                                                    <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                                                    different address
                                                </label>
                                            </div>
                                            <div class="control-group">
                                                <label class="control-label" for="inputFax">Fax<sup>*</sup></label>
                                                <div class="controls">
                                                    <input type="text" id="inputFax" placeholder="">
                                                    <strong class="green-t">* Required Fields</strong>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="control-group">
                                                <div class="controls">
                                                    <button type="submit" class="more-btn">Continue</button>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-group">
                        <div class="accordion-heading"> <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseForth"> Shipping Method </a> </div>
                        <div id="collapseForth" class="accordion-body collapse">
                            <div class="accordion-inner">
                                <strong class="green-t">Checkout as a Guest or Register</strong>
                                <p>Flat rate: Fixed $25.00</p>
                                <div class="btn-holder"> <a href="#" class="more-btn left">Continue</a> <a href="#" class="more-btn2">Back</a> </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-group">
                        <div class="accordion-heading"> <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFifth"> Payment Information </a> </div>
                        <div id="collapseFifth" class="accordion-body collapse">
                            <div class="accordion-inner">
                                <form class="form-horizontal">
                                    <ul class="billing-form">
                                        <li>
                                            <div class="label-holder">
                                                <label class="radio b-label">
                                                    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                                                    Ship to this address
                                                </label>
                                                <label class="radio b-label">
                                                    <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                                                    different address
                                                </label>
                                            </div>
                                            <div class="control-group">
                                                <label class="control-label" for="inputCardname">Name on Card<sup>*</sup></label>
                                                <div class="controls">
                                                    <input type="text" id="inputCardname" placeholder="">
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="control-group">
                                                <label class="control-label" for="inputCardtype">Credit Card Type <sup>*</sup></label>
                                                <div class="controls">
                                                    <select name="state" size="1">
                                                        <option selected value="">Please select one</option>
                                                        <option selected value="">Please select Two</option>
                                                        <option selected value="">Please select Three</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="control-group">
                                                <label class="control-label" for="inputCreditcardnum">Credit Card Number  <sup>*</sup></label>
                                                <div class="controls">
                                                    <input type="text" id="inputCreditcardnum" placeholder="">
                                                </div>
                                            </div>

                                        </li>
                                        <li>
                                            <div class="control-group w-extra">
                                                <label class="control-label" for="inputExpirationdate">Expiration Date<sup>*</sup></label>
                                                <div class="controls">
                                                    <select name="state" size="1" class="month-list">
                                                        <option selected value="">Month</option>
                                                        <option selected value="">Month</option>
                                                        <option selected value="">Month</option>
                                                    </select>
                                                    <select name="state" size="1" class="year-list">
                                                        <option selected value="">Year</option>
                                                        <option selected value="">Year</option>
                                                        <option selected value="">Year</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="control-group">
                                                <label class="control-label" for="inputCardVerification"> Card Verification Number <sup>*</sup></label>
                                                <div class="controls">
                                                    <input type="text" id="inputCardVerification" placeholder="">
                                                    <strong class="green-t">* Required Fields</strong>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="control-group">
                                                <div class="controls">
                                                    <button type="submit" class="more-btn">Continue</button>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-group">
                        <div class="accordion-heading"> <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseSixth"> Order Review </a> </div>
                        <div id="collapseSixth" class="accordion-body collapse">
                            <div class="accordion-inner no-p">
                                <table width="100%" border="0" cellpadding="14">
                                    <tr class="heading-bar-table">
                                        <th width="47%" align="left">Product Name</th>
                                        <th width="18%">Price</th>
                                        <th width="19%">Quantity</th>
                                        <th width="16%">Subtotal </th>
                                    </tr>
                                    <tr>
                                        <td width="47%" align="left"><a href="#">The Kite Runner</a> by Khalid Housseni</td>
                                        <td width="18%">$1,680.00 </td>
                                        <td width="19%">1 </td>
                                        <td width="16%">$1,680.00 </td>
                                    </tr>
                                    <tr>
                                        <td align="left"><a href="#">The Kite Runner</a> by Khalid Housseni </td>
                                        <td>$60.50 </td>
                                        <td>1 </td>
                                        <td>$1,680.00 </td>
                                    </tr>
                                    <tr>
                                        <td align="left"><a href="#">The Kite Runner</a> by Khalid Housseni </td>
                                        <td>$180.20 </td>
                                        <td>1</td>
                                        <td>$1,680.00 </td>
                                    </tr>
                                    <tr>
                                        <td colspan="3" align="right">
                                            <p>Subtotal</p>
                                            <p>Shipping & Handing (Flat rate: Fixed $25.00)</p>
                                            <p>Grand Total</p>
                                        </td>
                                        <td>
                                            <p>$1,921.00</p>
                                            <p>$25.00</p>
                                            <p>$1,946.00</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="3" align="left">Forgot an items? Edit your cart</td>
                                        <td><a href="#" class="more-btn">Place Order</a> </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Accordian Section -->
            </section>
            
        </section>
        <!-- End Main Content -->
    </section>
</section>
<!-- End Main Content Holder -->

